.content {
    margin: auto;
}

h1,h2,h3 {
  text-align: center;
}

.header,
.footer {
    padding: 20px;
}

.img-placeholder {
    background-color: lightgray;
    min-height: 300px;
    text-align: center;
}

.bar {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
