.inline {
    display: inline-block;
}

.menu-panel-header {
    margin-bottom: 10px;
}

.btn-vis {
    color: white;
    display: inline-block;
}

.content {
  margin: auto;
  width: 1040px;
}

#health-trends {
    background-color: lightgray;
    height: 500px;
}

#recipe-results {
    margin-top: 20px;
}

#recipe-results > .row {
    margin-left: 0;
    margin-right: -10px;
}

/* TODO should we hard code height here? */
#recipe-block,
#menu-vis-block {
    width: 100%;
    min-height: 300px;
}

.loader {
    padding: 20px;
    margin: auto;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.recipe-title {
    font-weight: 700;
    width: 222px;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
    margin-top: 0;
}

.thumbnail {
    margin-bottom: 10px;
    margin-right: 10px;
}

.thumb-grid {
    margin: 0;
}

.thumb-container,
.thumb-image,
.thumb-text {
    padding: 0
}

.dropdown-ingredients {
    padding-bottom: 0;
}

.dropdown-menu {
    margin: 0;
}

.panel-default > .panel-heading {
    background-color: white;
}

.panel-body a>img,
.panel-body img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.panel-heading > .row {
    margin: 0;
}

.panel-heading > .row  div {
    padding: 0;
}

.highlighted > .panel-heading {
    background-color: Lightgray;
}

.bars text,
.arc text {
    font: 10px sans-serif;
    text-anchor: left;
}

.arc .background-arc {
    fill: Lightgray;
}

.arc .outline-arc {
    fill-opacity: 0.0;
    stroke-opacity: 1.0;
    stroke: Gray;
}

.calorie-label {
    fill: white;
}

.pie-label {
    text-anchor: middle;
}

.overlay-arc,
.overlay-bar {
    fill: Black;
    fill-opacity: 0.2;
    /*mask: url(#mask-stripe);*/
}


:root {
  --colorLightest: #3DC3CC;
  --colorLight: #00BFCC;
  --colorMedium: #2D8E95;
  --colorDark: #00777F;
  --colorDarkest: #00484C;
}


body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

html, body {
  height: 100%;
  margin: 0;
}

h1,h2,h3 {
  text-align: center;
}

.header,
.footer {
    padding: 20px;
}
.container-fluid {
  width: 100%;
  padding: 50px;
}

.container-fluid.A {
  min-height: 100%;
  padding-top: 150px;
  text-align: center;
}

/*.container-fluid.B {
  background:
  linear-gradient(
    rgba(255, 255, 255, 0.85),
    rgba(255, 255, 255, 0.85)
  ),
  url('../img/fruits-veg.jpg') no-repeat center center;
  min-width: 100%;
  background-size:cover;
}*/
.container-fluid.D {
  background:
  linear-gradient(
    rgba(255, 255, 255, 0.85),
    rgba(255, 255, 255, 0.85)
  ),
  url('../img/burgers.jpg') no-repeat center center;
  min-width: 100%;
  background-size:cover;
}
.container-fluid.footer{
  background-color: #f0f0f0;
}

.bar {
  fill: colorMedium;
}

.axis path,
.axis line {
  fill: none;
  stroke: #999;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
path.lineChart {
    stroke: var(--colorDark);
    stroke-width: 2;
    fill: none;
}
.lineRef {
  stroke: red;
}

rect {
  shape-rendering: crispEdges;
}

.y-axis-hide {
  display: none;
}

svg text, .axis-label, .label {
  fill: #666;
  font-size: 12px;
  font-weight: normal;
}
.label-white {
 fill: #eee;
 font-size: 11px;
}

.chart-title {
  font-size: 14px;
  font-weight: bold;
}



.clickable:hover, .hoverable:hover{
  cursor: pointer;
}
button {
  margin: 0 auto;
  background-color: var(--colorMedium);
}
button>a {
  color: white;
}
button:hover, button>a:hover {
  text-decoration: none;
  filter: brightness(90%);
}

/* TEMP HACKY STYLING */
.float-right {
  float:right;
}
.float-left {
  float:left;
}

#WWEIA_dropdowns {
  margin-bottom: 30px;
}



/* Responsive SVG
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
*/

.foreground-arc,
.overlay-arc,
.outline-arc,
.pie-label,
.foreground-bar,
.overlay-bar,
.outline-rect,
.calorie-label {
    pointer-events: none;
}

.background-arc:hover,
.background-bar:hover {
    opacity: 0.7;
}


/*!*********************!*/
/*!*  TOOLTIP OVERLAY  *!*/
/*!*********************!*/


.background-arc,
.overlay-arc,
.outline-arc,
.pie-label {
    pointer-events: none;
}

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1.2em;
    padding: 12px;
    background: rgba(255,255,255, 0.85);
    color: #333;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #999;
    text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: white;
    content: "\25BC";
    position: absolute;
    text-align: center;
    text-shadow: 0px 1px #666;
}

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
.d3-tip>.highlight {
  font-weight: bold;
}
.d3-tip>.note {
  color: #999;
  margin-top: 10px;
}

#nutrient_disclaimer, .DRI_label {
  color: #aaa;
  fill: #aaa;
  font-size: 10px;
}
/*button.btn.btn-secondary {
  padding: 0;
  border-color: #fff;
}
.btn-secondary {
  background-color: #eee;
  text-decoration: none;
}
.btn-secondary>a {
  color: var(--colorMedium);
  text-decoration: none;
  display: block;
}
.btn-secondary>a:hover {
  color: var(--colorDark);
  text-decoration: none;
  display: block;
}*/
.btn-group>a {
  display: inline-block;
  text-decoration: none;
  color: var(--colorMedium);
  border-color: #ddd;
  border-width: 1px;
  background-color: #f0f0f0;
  padding: 3px 12px;
  margin: 0 5px 5px 5px;
  border-radius: 5px !important;
}
.btn-group>a:hover {
  color: var(--colorDark);
}
a.active, a:active {
    background-color: #cdcdcd;
    box-shadow: none;
    color: var(--colorDark);
    outline: none;
}
*:focus {
  outline: none !important;
  outline: 0  !important;
}
/*.btn-group>a.wide {
  min-width: 134px;
}
.btn-group>a.narrow {
  min-width: 89px;
}*/
div.btn-group {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.selectSection {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 30px 0;
}
.filterType {
  margin: 5px 0
}
.centered {
  text-align: center;
}
